<!--==========================
  Header
  ============================-->
<header id="header">
  <div class="container">

    <div class="logo float-left">
      <!-- Uncomment below if you prefer to use an image logo -->
      <h1 class="text-light"><a href="#intro" class="scrollto"><span>Navino</span></a></h1>
      <!-- <a href="#header" class="scrollto"><img src="../../../assets/img/logo.png" alt="" class="img-fluid"></a> -->
    </div>

    <nav class="main-nav float-right d-none d-lg-block">
      <ul>
        <li class="active"><a href="#intro">Home</a></li>
        <li><a href="#about">About Us</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#portfolio">Portfolio</a></li>
        <li><a href="#team">Team</a></li>
        <li><a href="#footer">Contact Us</a></li>
      </ul>
    </nav><!-- .main-nav -->

  </div>
</header><!-- #header -->

<!--==========================
    Intro Section
  ============================-->
<section id="intro" class="clearfix">
  <div class="container d-flex h-100">
    <div class="row justify-content-center align-self-center">
      <div class="col-md-6 intro-info order-md-first order-last">
        <h2>Navino Technosoft<br>for Your <span>Business!</span></h2>
        <div>
          <a href="#about" class="btn-get-started scrollto">Get Started</a>
        </div>
      </div>

      <div class="col-md-6 intro-img order-md-last order-first">
        <img src="../../../assets/img/intro-img.svg" alt="" class="img-fluid">
      </div>
    </div>

  </div>
</section><!-- #intro -->

<main id="main">

  <!--==========================
      About Us Section
    ============================-->
  <section id="about">

    <div class="container">
      <div class="row">

        <div class="col-lg-5 col-md-6">
          <div class="about-img">
            <img src="../../../assets/img/about-img.jpg" alt="">
          </div>
        </div>

        <div class="col-lg-7 col-md-6">
          <div class="about-content">
            <h2>About Us</h2>
            <h3>Listen, Dream & Deliver ~ Really that's exactly what we do.</h3>
            <p>We are hungry about developing simple to use yet path breaking products created on futuristic tech.
              We are “Addicted to work”. We provides innovative wings to your imagination so as to ease up your
              complexity. Navino Techno soft is a complete web solutions group which provides all IT solutions that
              comprehend hi-end IT strategic solutions, design solutions and software development services for the
              organizations across the GLOBE. </p>
       
            <ul>
              <li><i class="ion-android-checkmark-circle"></i> Our innovative products and services are well designed to suit the clients imagination all over the world. Our services usually covers the industry sectors such as Hospitality, Tourism, Medical services, Educational services, IT companies(Both in local and overseas market), Banks, Infrastructure and Real Estate firms. 
              </li>
              <li><i class="ion-android-checkmark-circle"></i> Our client relationship is usually includes quality assurance of work, dedicated customer service and willing to rise above the client’s expectations and glory.
                velit.</li>
            
            </ul>
          </div>
        </div>
      </div>
    </div>

  </section><!-- #about -->


  <!--==========================
      Services Section
    ============================-->
  <section id="services" class="section-bg">
    <div class="container">

      <header class="section-header">
        <h3>Services</h3>
        <p>Laudem latine persequeris id sed, ex fabulas delectus quo. No vel partiendo abhorreant vituperatoribus.</p>
      </header>

      <div class="row">

        <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
          <div class="box">
            <div class="icon" style="background: #fceef3;"><i class="ion-ios-analytics-outline"
                style="color: #ff689b;"></i></div>
            <h4 class="title"><a href="">Logo Designing</a></h4>
            <p class="description">combined user interface and user experience to provide a friendly solution for your
              designs.</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
          <div class="box">
            <div class="icon" style="background: #fff0da;"><i class="ion-ios-bookmarks-outline"
                style="color: #e98e06;"></i></div>
            <h4 class="title"><a href="">Web Designing</a></h4>
            <p class="description">We are reffered to as best template design company in Indore ,who provides 100%
              guaranteed services to our clients.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
          <div class="box">
            <div class="icon" style="background: #e6fdfc;"><i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i>
            </div>
            <h4 class="title"><a href="">Web Development</a></h4>
            <p class="description">We are offering complete web industry solutions to enable you to reach your desired
              business goals. </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
          <div class="box">
            <div class="icon" style="background: #eafde7;"><i class="ion-ios-speedometer-outline"
                style="color:#41cf2e;"></i></div>
            <h4 class="title"><a href="">Mobile App Development</a></h4>
            <p class="description">we are offering every business to own a strong mobile presence of their businesses.
            </p>
          </div>
        </div>

        <!-- <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
          <div class="box">
            <div class="icon" style="background: #e1eeff;"><i class="ion-ios-world-outline" style="color: #2282ff;"></i>
            </div>
            <h4 class="title"><a href="">Nemo Enim</a></h4>
            <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
              voluptatum deleniti atque</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
          <div class="box">
            <div class="icon" style="background: #ecebff;"><i class="ion-ios-clock-outline" style="color: #8660fe;"></i>
            </div>
            <h4 class="title"><a href="">Eiusmod Tempor</a></h4>
            <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum
              soluta nobis est eligendi</p>
          </div>
        </div> -->

      </div>

    </div>
  </section><!-- #services -->

  <!--==========================
      Why Us Section
    ============================-->
  <section id="why-us" class="wow fadeIn">
    <div class="container-fluid">

      <header class="section-header">
        <h3>Why choose us?</h3>
        <p>Laudem latine persequeris id sed, ex fabulas delectus quo. No vel partiendo abhorreant vituperatoribus.</p>
      </header>

      <div class="row">

        <div class="col-lg-6">
          <div class="why-us-img">
            <img src="../../../assets/../../../assets/img/why-us.jpg" alt="" class="img-fluid">
          </div>
        </div>

        <div class="col-lg-6">
          <div class="why-us-content">
            <div class="features wow bounceInUp clearfix">
              <i class="fa fa-diamond" style="color: #f058dc;"></i>
              <h4>We build powerful websites.</h4>
              <p>If you need a site with all the bells and whistles, contact AirTight Design. Database integration,
                video, audio, ios and android integration, e-commerce — no problem.</p>
            </div>

            <div class="features wow bounceInUp clearfix">
              <i class="fa fa-object-group" style="color: #ffb774;"></i>
              <h4>We emphasize simplicity.</h4>
              <p>Some firms love to build complicated sites. Not us. We choose the simplest tool that will effectively
                accomplish a task. Simple sites load faster, are easy to use and are less prone to problems.</p>
            </div>

            <div class="features wow bounceInUp clearfix">
              <i class="fa fa-language" style="color: #589af1;"></i>
              <h4>We're affordable.</h4>
              <p>AirTight Design has very low overhead. No fancy office in Buckhead, no snooty receptionist, no
                latte-sipping sales weasels. Just hard-working Internet professionals chained to their computers. (Just
                kidding. They're not really chained to their computers. They're chained to their desks.)</p>
            </div>

          </div>

        </div>

      </div>

    </div>
  </section>

  <!--==========================
      Call To Action Section
    ============================-->
  <section id="call-to-action" class="wow fadeInUp">
    <div class="row counters">

      <div class="col-lg-3 col-6 text-center">
        <span data-toggle="counter-up">15 +</span>
        <p>Clients</p>
      </div>

      <div class="col-lg-3 col-6 text-center">
        <span data-toggle="counter-up">26 +</span>
        <p>Projects</p>
      </div>

      <div class="col-lg-3 col-6 text-center">
        <span data-toggle="counter-up">565 +</span>
        <p>Hours Of Support</p>
      </div>

      <div class="col-lg-3 col-6 text-center">
        <span data-toggle="counter-up">10 +</span>
        <p>Hard Workers</p>
      </div>

    </div>
  </section><!-- #call-to-action -->
  <!--==========================
      Portfolio Section
    ============================-->
  <section id="portfolio" class="section-bg">
    <div class="container">

      <header class="section-header">
        <h3 class="section-title">Our Portfolio</h3>
      </header>

      <div class="row">
        <div class="col-lg-12">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-app">App</li>
            <li data-filter=".filter-card">Card</li>
            <li data-filter=".filter-web">Web</li>
          </ul>
        </div>
      </div>

      <div class="row portfolio-container">

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="../../../assets/img/portfolio/app1.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4><a href="#">App 1</a></h4>
              <p>App</p>
              <div>
                <a href="../../../assets/img/portfolio/app1.jpg" data-lightbox="portfolio" data-title="App 1"
                  class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.1s">
          <div class="portfolio-wrap">
            <img src="../../../assets/img/portfolio/web3.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4><a href="#">Web 3</a></h4>
              <p>Web</p>
              <div>
                <a href="../../../assets/img/portfolio/web3.jpg" class="link-preview" data-lightbox="portfolio"
                  data-title="Web 3" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.2s">
          <div class="portfolio-wrap">
            <img src="../../../assets/img/portfolio/app2.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4><a href="#">App 2</a></h4>
              <p>App</p>
              <div>
                <a href="../../../assets/img/portfolio/app2.jpg" class="link-preview" data-lightbox="portfolio"
                  data-title="App 2" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img src="../../../assets/img/portfolio/card2.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4><a href="#">Card 2</a></h4>
              <p>Card</p>
              <div>
                <a href="../../../assets/img/portfolio/card2.jpg" class="link-preview" data-lightbox="portfolio"
                  data-title="Card 2" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.1s">
          <div class="portfolio-wrap">
            <img src="../../../assets/img/portfolio/web2.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4><a href="#">Web 2</a></h4>
              <p>Web</p>
              <div>
                <a href="../../../assets/img/portfolio/web2.jpg" class="link-preview" data-lightbox="portfolio"
                  data-title="Web 2" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.2s">
          <div class="portfolio-wrap">
            <img src="../../../assets/img/portfolio/app3.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4><a href="#">App 3</a></h4>
              <p>App</p>
              <div>
                <a href="../../../assets/img/portfolio/app3.jpg" class="link-preview" data-lightbox="portfolio"
                  data-title="App 3" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img src="../../../assets/img/portfolio/card1.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4><a href="#">Card 1</a></h4>
              <p>Card</p>
              <div>
                <a href="../../../assets/img/portfolio/card1.jpg" class="link-preview" data-lightbox="portfolio"
                  data-title="Card 1" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card" data-wow-delay="0.1s">
          <div class="portfolio-wrap">
            <img src="../../../assets/img/portfolio/card3.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4><a href="#">Card 3</a></h4>
              <p>Card</p>
              <div>
                <a href="../../../assets/img/portfolio/card3.jpg" class="link-preview" data-lightbox="portfolio"
                  data-title="Card 3" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.2s">
          <div class="portfolio-wrap">
            <img src="../../../assets/img/portfolio/web1.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4><a href="#">Web 1</a></h4>
              <p>Web</p>
              <div>
                <a href="../../../assets/img/portfolio/web1.jpg" class="link-preview" data-lightbox="portfolio"
                  data-title="Web 1" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- #portfolio -->

  <!--==========================
      Clients Section
    ============================-->
  <section id="testimonials">
    <div class="container">

      <header class="section-header">
        <h3>Testimonials</h3>
      </header>

      <div class="row justify-content-center">
        <div class="col-lg-8">


            <owl-carousel-o [options]="customOptions" (translated)="getPassedData($event)">
 
                <ng-container *ngFor="let slide of slidesStore">
                  <ng-template carouselSlide [id]="slide.id">
                      <div class="testimonial-item">
                          <img [src]="slide.img" class="testimonial-img" alt="">
                          <h3>Vlad Postelnicu</h3>
                          <h4>Co-Founder @ mpdm.agency</h4>
                          <p>
                            We have collaborated with NavinoTechnoSoft on some small projects. They were active and did their best
                            to solve our issues. We are certainly going to collaborate on more projects in the future, thanks to
                            their willingness to help us out and their availability.
                          </p>
                        </div>                  </ng-template>
                </ng-container>
         
              </owl-carousel-o>
          <!-- <div class="owl-carousel testimonials-carousel wow fadeInUp">



            <div class="testimonial-item">
              <img src="../../../assets/img/testimonial-1.png" class="testimonial-img" alt="">
              <h3>Vlad Postelnicu</h3>
              <h4>Co-Founder @ mpdm.agency</h4>
              <p>
                We have collaborated with NavinoTechnoSoft on some small projects. They were active and did their best
                to solve our issues. We are certainly going to collaborate on more projects in the future, thanks to
                their willingness to help us out and their availability.
              </p>
            </div>

            <div class="testimonial-item">
              <img src="../../../assets/img/testimonial-2.jpg" class="testimonial-img" alt="">
              <h3>Sara Wilsson</h3>
              <h4>Designer</h4>
              <p>
                Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis
                quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
              </p>
            </div>

            <div class="testimonial-item">
              <img src="../../../assets/img/testimonial-3.jpg" class="testimonial-img" alt="">
              <h3>Jena Karlis</h3>
              <h4>Store Owner</h4>
              <p>
                Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor
                labore quem eram duis noster aute amet eram fore quis sint minim.
              </p>
            </div>

            <div class="testimonial-item">
              <img src="../../../assets/img/testimonial-4.jpg" class="testimonial-img" alt="">
              <h3>Matt Brandon</h3>
              <h4>Freelancer</h4>
              <p>
                Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim
                dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
              </p>
            </div>

          </div> -->

        </div>
      </div>


    </div>
  </section><!-- #testimonials -->

  <!--==========================
      Team Section
    ============================-->
  <section id="team" class="section-bg">
    <div class="container">
      <div class="section-header">
        <h3>Team</h3>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
      </div>

      <div class="row">

        <div class="col-lg-3 col-md-6 wow fadeInUp">
          <div class="member">
            <img src="../../../assets/img/team-1.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Hemant Patidar</h4>
                <span>Chief Executive Officer</span>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
          <div class="member">
            <img src="../../../assets/img/team-3.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>William Anderson</h4>
                <span>CTO</span>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
          <div class="member">
            <img src="../../../assets/img/team-4.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Amanda Jepson</h4>
                <span>Accountant</span>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="member">
            <img src="../../../assets/img/team-2.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Mahima Buley</h4>
                <span>Product Manager</span>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>s

      </div>

    </div>
  </section><!-- #team -->

  <!--==========================
      Clients Section
    ============================-->
  <section id="clients" class="wow fadeInUp">
    <div class="container">

      <header class="section-header">
        <h3>Our Clients</h3>
      </header>

      <div class="owl-carousel clients-carousel">
        <img src="../../../assets/img/clients/client-1.png" alt="">
        <img src="../../../assets/img/clients/client-2.png" alt="">
        <img src="../../../assets/img/clients/client-3.png" alt="">
        <img src="../../../assets/img/clients/client-4.png" alt="">
        <img src="../../../assets/img/clients/client-5.png" alt="">
        <img src="../../../assets/img/clients/client-6.png" alt="">
        <img src="../../../assets/img/clients/client-7.png" alt="">
        <img src="../../../assets/img/clients/client-8.png" alt="">
      </div>

    </div>
  </section><!-- #clients -->
</main>

<!--==========================
    Footer
  ============================-->
<footer id="footer" class="section-bg">
  <div class="footer-top">
    <div class="container">

      <div class="row">
        <div class="col-sm-4">
          <div class="footer-links">
            <h4>Contact Us</h4>
            <p>
              312 Pukhraj Corporate, Near Navlakha Square <br>
              <strong>Phone:</strong> +91 93401 40575<br>
              <strong>Email:</strong> hemant@navinotechnosoft.com<br>
            </p>
          </div>

          <div class="social-links">
            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
        <div class="col-lg-8">

          <div class="form">

            <h4>Send us a message</h4>
            <p>Eos ipsa est voluptates. Nostrum nam libero ipsa vero. Debitis quasi sit eaque numquam similique commodi
              harum aut temporibus.</p>
            <form action="" method="post" role="form" class="contactForm">
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                  data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                  data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                  data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required"
                  data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validation"></div>
              </div>

              <div id="sendmessage">Your message has been sent. Thank you!</div>
              <div id="errormessage"></div>

              <div class="text-center"><button type="submit" title="Send Message">Send Message</button></div>
            </form>
          </div>

        </div>




      </div>

    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong>Navino Technosoft</strong>. All Rights Reserved
    </div>

  </div>
</footer><!-- #footer -->

<router-outlet></router-outlet>